<!DOCTYPE html>
<html>
<head>
  <title>Casar Cipher</title>
</head>
<body>

  <form>
    <input placeholder="Text to encode" type="text" name="text" size="50">
    <input placeholder="Letter shift" type="number" name="shift" size="1">
    <input type="submit" name="translate" value="Translate">
  </form>

  <p>Output: <%= output %></p>
  <p>Params: <%= par %></p>
</body>
</html>